---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import WalineComments from '../components/WalineComments.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map((page) => {
        return {
            params: { id: page.id },
            props: { page }
        };
    });
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, seo } = page.data;
const { Content } = await render(page);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} image={seo?.image} showHeader={false}>
    <article class="page">
        <h1 class="page-title">{title}</h1>
        <Content />
    </article>
    <WalineComments />
</BaseLayout>
