---
import { getCollection } from 'astro:content';
import Pagination from '../components/Pagination.astro';
import PostPreview from '../components/PostPreview.astro';
import siteConfig from '../data/site-config';
import BaseLayout from '../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const pageSize = siteConfig.postsPerPage || 12;
const totalPages = Math.ceil(posts.length / pageSize);
const blog = posts.slice(0, pageSize);
const groupedPosts = blog.reduce<Map<number, typeof posts>>((groups, post) => {
    const year = post.data.publishDate.getFullYear();
    const list = groups.get(year) ?? [];
    list.push(post);
    groups.set(year, list);
    return groups;
}, new Map());
const page = {
    url: {
        prev: undefined,
        next: totalPages > 1 ? '/page/2' : undefined
    }
};
---

<BaseLayout description={siteConfig.description}>
    <article class="recent-posts">
        <h1 class="recent-title">Home</h1>
        {
            [...groupedPosts.entries()].map(([year, yearPosts]) => (
                <>
                    <div class="recent-post-year-title">
                        <h2 class="recent-post-year">{year}</h2>
                    </div>
                    {yearPosts.map((post) => <PostPreview post={post} />)}
                </>
            ))
        }
    </article>
    <Pagination page={page} class="noborder" />
</BaseLayout>
